/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 5px solid $grey-color-light;
    height: 356px;
    margin: 15px;

    // Positioning context for the mobile navigation icon
    position: relative;
    background-color: #414141;
    //background-image: url("/assets/images/alientalk.png");
}

.site-title {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 130px;
    float: left;
    padding: 19px;

    &,
    &:visited,
    &:hover {
	text-decoration: none;
        color: #f30;
	border-top: 10px dashed #fff;
	border-bottom: 10px solid #fff;
    }
}

.site-nav {
    float: right;
    margin-top: 375px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #000000;
        line-height: $base-line-height;
	text-decoration: none;
        // Gaps between nav items, but not on the last one
        //&:not(:last-child) {
            margin-right: 20px;
        //}
	margin-right: 20px;
    }

    @include media-query($on-palm) {
        position: absolute;
	opacity: 0.5;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: #11399c;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            //&:not(:last-child) {
                margin-right: 0;
            //}
	    margin-right: 0;
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    margin: 15px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    float: right;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit $spacing-unit*2;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    padding: 35px;
}

.post-list-items {
    margin-left: 0;
    list-style: none;
    font-weight: 300;
    color: #a3a3a3;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 24px;
    color: $grey-color;
    text-align: right;
    font-weight: 100;
    display: inline-block;
    float: right;
}

.post-link {
    display: inline-block;
    font-size: 24px;
    &:hover {
      text-decoration: none;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    padding-top: 25px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
